OPENROUTER_API_KEY=sk-or-v1-... # LLM API Key
SERP_API_KEY=... # Image reverse search API Key
SERPER_API_KEY=... # Search text api key

# Cloudinary API Key đùng để upload công khai
CLOUD_NAME=...
API_KEY=...
API_SECRET=...

# ScrapingDog API Key dùng để thu thập dữ liệu web
SCRAPING_DOG_API_KEY=...
DEEPSEEK_API_KEY=sk-...
NGROK_AUTHTOKEN=...
NGROK_DOMAIN=...
